img(src="assets/images/preview.jpg")
p.title Тренажер по определению характеристик стрелочных приборов
p.subtitle (выполнение лабораторной работы)
.buttons
    button.help(onclick="Tabs.change('help')") Помощь
    button.next(onclick="Tabs.change('example')") Начать