.footer-container
    div
        span 2020
        span.separator |
        span Built&nbsp;with&nbsp;
        a(href="https://github.com/Azarattum/TheFramework/tree/browser" target="_blank") TheFramework
    div
        span Developed&nbsp;by&nbsp;
        a(href="https://github.com/Azarattum" target="_blank") Azarattum
        span.separator |
        a(href="https://github.com/Azarattum/OhmSimulator/" target="_blank")
            img(src="assets/images/github.svg")
            | GitHub