h2 Помощь
.card
    h3 Метод оценивания
    ul
        li Изначальная оценка: "отлично" (5 баллов)
        li При 3-м неправильном вводе, вы получаете подсказку
        li После 2-х подсказок оценка снижается на 1 балл
        li Каждые 2 подсказки обновляются задания варианта
        li При совершении ошибки в обновлённом варианте, оценка снижается на 1 балл
        li Минимальная оценка: "удовлетворительно" (3 балла)

button.next(onclick="Tabs.change('greeting')") Назад