h2 Помощь (стр. 1)
.card
    h3 Метод оценивания
    ul
        li Изначальная оценка: "отлично" (5 баллов)
        li При 3-м неправильном вводе, вы получаете подсказку
        li После 2-х подсказок оценка снижается на 1 балл
        li Каждые 2 подсказки обновляются задания варианта
        li При совершении ошибки в обновлённом варианте, оценка снижается на 1 балл
        li Минимальная оценка: "удовлетворительно" (3 балла)

.card
    h3 Правила заполнения таблицы
    ul
        li Класс точности должен иметь 1 знак после запятой. Пример: 1,5.
        li Цена деления, Чувствительность, Абсолютная погрешность определяются с
        | точностью до 2-х знаков после запятой и записываются без округления, т.е.
        | 3-ий знак после запятой отбрасывается. Пример:
        ol 
            li Число делений: 25; Предел шкалы: 50 В;
            | Цена делений (50В/25дел) = 2 В/дел;
            br
            | С = 2 В/дел; Записываем в таблицу цифру 2
            li Число делений: 75; Предел шкалы: 200 В;
            | Цена делений (100В/75дел) = 2,6666 В/дел;
            br
            | С = 1,66 В/дел; Записываем в таблицу цифру 2,66

.buttons
    button(onclick="Tabs.change('greeting')") Назад
    button(onclick="Tabs.change('help2')") ►