h2 Помощь (стр. 2)
.card
    h3 Лицевая панель реального стрелочного однопредельного прибора
    p В однопредельном приборе предел шкалы (Aшк) равен пределу измерения (A&#8344;), поэтому будем обозначать его A&#8344;.
    img(src="assets/images/device.jpg")
    p Предел измерения равен пределу шкалы A&#8344; = Aшк = 100 мА.
    | Число делений (N=50); класс точности 1,5; система прибора – магнитоэлектрическая
.buttons
    button.next(onclick="Tabs.change('greeting')") Назад
    button.next(onclick="Tabs.change('help')") ◄
    button.next(onclick="Tabs.change('help3')") ►