label.variants
    select(
        controller="variant"
        onchange="Controller.setVariant(this.value)"
    )
        - for (var i = 1; i <= 30; ++i) {
            option(value=i) Вариант #{i}
        - }

.content
    .elements
        .meter.voltmeter(view="voltmeter")
        .meter.ampermeter(view="ampermeter")
    .table