h2 Помощь (стр. 4)
.card
    h3 Проведение измерений
    p
        ul
            li Используйте элемент обозначенный &#x26a1; для изменения напряжения.
            | (ЛКМ - увеличить, ПКМ - уменьшить)
            li Следите за изменениями положений стрелок приборов.
            li В любой момент вы можете занести 
                b текущие показания 
                | в поля результатов.
            | (обратите внимание, что значения заносятся уже с учётом множителей)
            li Допустимая погрешность измерений: &plusmn;5%.
            li Если значения корректны, они будут автоматически добавлены в таблицу ниже.
            li Под таблицей в реальном времени расчитывается точность ваших измерений.
            li После занесения 1-го и более значений, вы можете построить график.
            li График отображает эталонные, наименьшие квадраты, и ваши значения.
            li После 4-х и более измерений, вы можете посчитать сопротивление исследуемого резистора, используя имующиеся данные, и записать его в поле ответа.
            | (напомним, что формула закона Ома: U=I&times;R)
.buttons
    button.next(onclick="Tabs.change('greeting')") Назад
    button.next(onclick="Tabs.change('help3')") ◄