h2 Помощь (стр. 3)
.card
    h3 Внешний вид измерительного стенда
    img(src="assets/images/device_help.jpg")
    p Приборы - используемые в этой лабораторной работе
    p Клеммы - к ним подключён резистор R, его ВАХ изучается в ЛР 3.1
    p Реостат - регулятор напряжения низковольтного источника
    p Вкл - тумблер включения стенда
    p 24В - тумблер 24В
.buttons
    button.next(onclick="Tabs.change('greeting')") Назад
    button.next(onclick="Tabs.change('help2')") ◄