.machine(controller="machine")
	.inactive(view="circuit")
	img(src="assets/images/machine.svg")
	.slot(ondrop="Controller.dropResistor(event)" ondragover="Controller.allowDrop(event)")
	input(type="checkbox" id="terminal-left" bind="data.terminals.left")
	label(for="terminal-left").terminal.left
	input(type="checkbox" id="terminal-right" bind="data.terminals.right")
	label(for="terminal-right").terminal.right
	.resistors
		.resistor(draggable="true" ondragstart="Controller.dragResistor(event)" data-resistance="132")
		.resistor(draggable="true" ondragstart="Controller.dragResistor(event)" data-resistance="242")
		.resistor(draggable="true" ondragstart="Controller.dragResistor(event)" data-resistance="325")
		.resistor(draggable="true" ondragstart="Controller.dragResistor(event)" data-resistance="464")
	.toggles
		label.toggle
			input(type="radio" name="voltage" bind="data.voltage")
			span.left 30V
			span.right &#x2B58;
		label.toggle
			input(type="radio" name="voltage")
			span.left 24V
			span.right &#x2B58;
		label.toggle
			input(type="radio" name="voltage")
			span.left 220V
			span.right &#x2B58;