/* Core styles */
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	--color-text: rgb(63, 60, 66);

	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;

	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--color-text);
}
