<!DOCTYPE html>
- const data = htmlWebpackPlugin.options.data
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent" id="bar")
        title Ohm Simulator
        style
            include index.css
    body
        .hints(controller="hints")
            .hint(iterate="data.hints")
                .text
                .close
        div(controller="tabs")
            div(tab="greeting" view="greeting")
            div(tab="machine" view="machine")
            div(tab="table" view="table" controller="table")
        div(view="footer")
