.bar
    .inputbox
        h3.title Результаты
        input(type="text" bind="data.voltage" placeholder="В")
        input(type="text" bind="data.amperage" placeholder="мА")
        br
        button(onclick="Controller.add()") ОК
        table
            caption.accuracy!="Точность: "+data.accuracy+"%"
            tr
                th U
                th I
            tr(iterate="data.points")
                td!=data.points.x
                td!=data.points.y
        button.graph(onclick="Controller.toggleChart()") График
.chart
    canvas(width="600" height="400" onclick="Controller.hideChart()")